
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Index</title>

    <style>
        a {
            text-decoration: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        table tr {
            text-align: center;
        }

        table th {
            text-align: center;
        }

        #authors {
            margin: 30px;
        }

        #books {
            margin: 30px;
        }

        .route-link {
            font-size: large;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .center {
            margin-left: 20%;
            margin-right: 20%;
        }
    </style>

</head>
<body>
    <br>

    <div class="center">
        <div class="container">
            @Ajax.RouteLink("Get books", new { controller = "Home", action = "GetBooks" }, new AjaxOptions
{
    UpdateTargetId = "books"
}, new { @class = "route-link" })
        </div>
        <div id="books" class="container">

        </div>
    </div>




    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>

</html>
