
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style>
        a {
            text-decoration:none;
        }
        table, td, th {
            border: 1px solid black;
        }
        table {
            border-collapse:collapse;
        }
        </style>

</head>
<body>
   <h1>Here is from index.cshtml</h1>

    @Ajax.ActionLink("Get authors","GetAuthors",new AjaxOptions {
        UpdateTargetId = "authors"
})

    <div id="authors">
        </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
